---
layout: cheat_sheet
title:  "GIT Cheat Sheet"
---

<div class="large-4 columns">
	<!-- INICIO: CREATE -->
		{% capture create %}{% include git_create.markdown %}{% endcapture %}
		{{ create | markdownify }}
	<!-- FIN: CREATE -->

	<!-- INICIO: LOCAL CHANGES -->
		{% capture local_changes %}{% include git_local_changes.markdown %}{% endcapture %}
		{{ local_changes | markdownify }}
	<!-- FIN: LOCAL CHANGES -->

	<!-- INICIO: COMMIT HISTORY -->
		{% capture commit_history %}{% include git_commit_history.markdown %}{% endcapture %}
		{{ commit_history | markdownify }}
	<!-- FIN: COMMIT HISTORY -->
</div>

<div class="large-4 columns">
	<!-- INICIO: BRANCHES & TAGS -->
		{% capture branches_tags %}{% include git_branches_tags.markdown %}{% endcapture %}
		{{ branches_tags | markdownify }}
	<!-- FIN: BRANCHES -->

	<!-- INICIO: UPDATE & PUBLISH -->
		{% capture update_publish %}{% include git_update_publish.markdown %}{% endcapture %}
		{{ update_publish | markdownify }}
	<!-- FIN: UPDATE & PUBLISH -->
</div>

<div class="large-4 columns">
	<!-- INICIO: MERGE & REBASE -->
		{% capture merge_rebase %}{% include git_merge_rebase.markdown %}{% endcapture %}
		{{ merge_rebase | markdownify }}
	<!-- FIN: MERGE & REBASE -->

	<!-- INICIO: UNDO -->
		{% capture undo %}{% include git_undo.markdown %}{% endcapture %}
		{{ undo | markdownify }}
	<!-- FIN: UNDO -->
</div>
